<div class="footer">
    <ul class="col1 footer-column">
        <h3>USEFUL LINKS</h3>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/carouselimagecarousel">Photos</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
        <li><a href="/terms#privacy">Privacy Policy</a></li>
    </ul>
    <div class="col2 footer-column">
        <h3>GLUTEN FREE NEWSLETTER</h3>
        <form class="footy">
            <input type="email" placeholder="Subscribe Here! (Your Email)" required>
            <br>
            <button type="submit">CLICK TO SUBSCRIBE</button>
        </form>
    </div>
    <div class="col3 footer-column">
        <h3>CONTACT</h3>
        <p>123, Drury Lane
            <br>
        London, United Kingdom
        </p>
    </div>
    </div>