<div class="footer">
    <ul class="col1">
        <h3>USEFUL LINKS</h3>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
    </ul>
    <div class="col2">
        <h3>GLUTEN FREE NEWSLETTER</h3>
        <form>
            <input type="email" placeholder="Subscribe Here! (Your Email)" required>
            <br>
            <button type="submit">CLICK TO SUBSCRIBE</button>
        </form>
    </div>
    <div class="col3">
        <h3>CONTACT</h3>
        <p>123, Drury Lane
            <br>
        London, United Kingdom
        </p>
    </div>
    </div>