<ul class="menu-ul">
    <li class="menu-li"><a href="/">Home</a></li>
    <li class="menu-li"><a href="/profile">Profile</a></li>
    <li class="menu-li"><a href="/carouselimagecarousel">Photos</a></li>
    <li class="menu-li"><a href="/minesweeper">Mines</a></li>
</ul>