<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/project.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gluten Free Smart Home Monitoring Systems Worldwide Incorporated</title>
</head>
<div class="header-container">
    <header><a href="images/Header.png"><img src="images/Header.png" alt="Header Image"></a></header>
</div>
<%- include('layouts/menu') -%>
<body style="justify-content: center;">
    <h1>Gluten Free Smart Home Monitoring Systems Worldwide Incorporated</h1>
    <p class=about>
        Gluten Free Smart Home Monitoring Systems Worldwide Incorporated is a cutting-edge technology company specializing in the development and deployment of smart home monitoring systems for individuals and families with gluten sensitivities. 
        Our mission is to make life easier for people with celiac disease or gluten intolerance by providing innovative solutions that help them stay safe and healthy in their homes.
        At Gluten Free Smart Home Monitoring Systems Worldwide Incorporated, we leverage the latest advancements in artificial intelligence and IoT (Internet of Things) technologies to create products that are both effective and easy to use.
        Our systems are designed to detect gluten-containing substances in food, household products, and other materials, allowing users to avoid potentially harmful exposure.
        With a team of experienced engineers, designers, and developers, Gluten Free Smart Home Monitoring Systems Worldwide Incorporated is committed to delivering the highest-quality products and services to our customers.
        We are dedicated to improving the lives of those with gluten sensitivities, and we are proud to be a leading player in this important and rapidly growing market.
        Jeb and Kyle are the co-founders of Gluten Free Smart Home Monitoring Systems Worldwide Incorporated. 
        Jeb is a tech enthusiast who specializes in developing innovative solutions to make smart homes more accessible to everyone. 
        Kyle is an experienced entrepreneur who has helped launch several successful startups in the past.
        Together, Jeb and Kyle have built Gluten Free Smart Home Monitoring Systems Worldwide Incorporated into a leading provider of smart home monitoring systems that are specifically designed for people with gluten allergies. 
        Their cutting-edge technology allows homeowners to monitor their homes remotely and receive alerts in case of any gluten contamination.
        To get in touch with Jeb, you can email him at jeb@gfshmonitoring.com or call him at (555) 123-4567. 
        For Kyle, you can email him at kyle@gfshmonitoring.com or call him at (555) 765-4321.
    </p>
    <%- include('layouts/footer') -%>
</body>
</html>