<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/project.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Smartest Home</title>
  </head>
  <body>
    <main>
      <h1>The Smartest Home</h1>
      <div>
        <h3 id="date_display"></h3>
      </div>
      <form>
        <div>
          <label>Notifications</label>
          <input type="checkbox" id="notifications" checked />
        </div>
        <div>
        <label>Power Mode</label>
            <input type="radio" id="off" name="lighting_mode" value="Off">
            <label class="radio" for="off">Off</label>
            <input type="radio" id="away" name="lighting_mode" value="Away">
            <label class="radio" for="away">Away</label>
            <input type="radio" id="eco" name="lighting_mode" value="Eco">
            <label class="radio" for="eco">Economy</label>
            <input type="radio" id="full" name="lighting_mode" value="Full">
            <label class="radio" for="full">Full</label>
        </div>
        <div>
          <label>Location</label>
          <input
            type="text"
            id="location"
            placeholder="Postal Code"
            value="L7W 4T8"
          /><span id="location_error" class="error-span"></span>
        </div>
        <div>
          <label>Temperature</label>
          <input type="number" id="temperature" name="temperature" 
          min="5" max="30" step="0.5" value="21"/>
          <span id="temperature_error" class="error-span"></span>
        </div>
        <div>
          <label></label>
          <input type="submit" value="Update" id="update_settings" />
          <input type="reset" value="Reset" id="reset_form" />
        </div>
      </form>
      <div>
        <h3>Thermostat Timer</h3>
      <label>Temperature</label>
          <input type="number" id="temperature" name="temperature" 
          min="5" max="30" step="0.5" value="21"/>
          <span id="temperature_error" class="error-span"></span>
      </div>
      <div>
          <label for="duration">Duration</label>
          <p style="display:inline-block">Hours:
          <input class="name" type="number" id="duration-hours" name="duration-hours" min="0" max="23"style="margin:15px">
          Minutes:</p>
          <input class="name" type="number" id="duration-minutes" name="duration-minutes" min="0" max="59"style="width: 50px;" style="margin:15px">
          
      </div>
      <div style="text-align: center;">
      <button id="set-temp">Set Temporary Temperature</button>
      </div>
      <h2>Current Settings</h2>
      <div>
        <label>Notifications&nbsp;</label>
        <span class="current-setting" id="setting_notifications">On</span>
      </div>
      <div>
        <label>Lighting Mode&nbsp;</label>
        <span class="current-setting" id="setting_lighting_mode">Eco</span>
      </div>
      <div>
        <label>Location&nbsp;</label>
        <span class="current-setting" id="setting_location">L7W 4T8</span>
      </div>
      <div>
        <label>Temperature&nbsp;</label>
        <span class="current-setting" id="setting_temperature">21</span>
        <span>°C</span>
      </div>
    </main>
    <%- include('layouts/menu') -%>
    <script src="js/dashboard.js"></script>
  </body>
</html>
