<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/project.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Images</title>
  </head>
<body>
    <main>
        <h1>Your photos could be here!</h1>
        <div class = "image-container">
        <ul id="image_list">
            <li><a class="carousel" href="images/carousel 1.jpg" title="So enjoyable"></a></li>
            <li><a class="carousel" href="images/carousel 2.jpg" title="Incredibly entertaining"></a></li>
            <li><a class="carousel" href="images/carousel 3.jpg" title="A blast"></a></li>
            <li><a class="carousel" href="images/carousel 4.jpg" title="Amusingly delightful"></a></li>
            <li><a class="carousel" href="images/carousel 5.jpg" title="Great fun"></a></li>
        </ul>
        <p class="photos"><button class="arrow-btn" id="left-arrow-btn"> &larr;</button>
        <img id="main_image" src="images/carousel 1.jpg" alt="So enjoyable">
        <button class="arrow-btn" id="right-arrow-btn"> &rarr;</button></p>
        <h2 id="caption">So enjoyable</h2>    
        <%- include('layouts/menu') -%>
        <script src="js/slide-show.js"></script>
    </main>  
</body>
</html> 