<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/project.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>terms of services</title>
  </head>

  <body>
    <main>
      <h1>Terms of Service</h1>
      <p class="terms">
        - By accessing this website, you agree to wear a clown nose at all times.<br>
        - You are required to perform a cartwheel before making any purchases on this website.<br>
        - We reserve the right to send you daily cat videos via email, whether you want them or not.<br>
        - By using this service, you agree to speak in pirate language on all customer service calls.<br>
        - In the event of a zombie apocalypse, we are not responsible for any delays in delivery.<br>
        - You are required to dance the cha-cha every time you use our app.<br>
        - You must wear a tutu while using our website on Tuesdays.<br>
        - We reserve the right to randomly assign you a new nickname every month.<br>
        - By using this service, you agree to become an expert in obscure trivia.<br>
        - In the event of a global potato shortage, we may substitute your order with sweet potatoes without warning.<br>
      </p>
      <p><input type="button" id="accept" value="Accept" /></p>
      <%- include('layouts/menu') -%>
      <script src="js/dashboard.js"></script>
      <script>
        const btn = document.querySelector("#accept");
        btn.addEventListener(
          "click",
          () => (window.location.href = "/")
        );
      </script>
    </main>
  </body>
</html>
