body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(199, 159, 108);
    margin: 0 auto;
    /*border: 2px solid black;*/
    padding-top: 16px;
    box-shadow: 0 0 10px #CCC;
}

h1, h2 {
    color: black;
    text-align: center;
    text-shadow: 2px 2px #DDD;
}

h3{
    text-align: center;
}

div {
    margin-bottom: 16px;
}

p{
    font-size: 13px;
}

label {
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: 14px;
}

.terms {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 16px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="number"],  select {
    margin-left: 16px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #AAA;
    width: 61%;
}

#password{
    margin-left: 20px;
}

.name input[type=text], input[type=number] {
    display: inline-block;
    width: 28%;
    margin-right: 0;
}

input[type="submit"], button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}


input[type="submit"]:hover, button:hover {
    background-color: transparent; 
}

span.error-span {
    color: #C62828;
}

span.current-setting {
    font-weight: bold;
}

select {
    margin-left: 16px;
    margin-right: 8px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #AAA;
    padding: 8px;
}

button.arrow-btn {
    font-size: 18px;
    padding: 8px;
    color: #021a20;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
   
}

button.arrow-btn:hover {
    transform: scale(1.2) translateY(-50%);
    background-color: white;
}

#left-arrow-btn{
    position: absolute;
    left: 5%;
    margin-left: 0;
}

#right-arrow-btn{
    position: absolute;
    right: 5%;
}

ul {
    list-style-type: none;
}

ul.menu-ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(163, 102, 22);
    position:center;
}

li.menu-li {
    float: left;
    width: 25%;
}

li.menu-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}

li.menu-li a:hover {
    background-color: rgb(134, 81, 10);
}

img{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

img.header{
    object-fit: cover;
}

img.Carousel_shift{
    width:80%;
    left: 50%;
    transform: translate(-50%,0%);
}
.photos{
    /*justify-content: center;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    right: 10px;*/
    justify-content: center;
    align-items: center;
    display:flex;
    position: relative;
    width: 100%;
    padding-top: 40%;
    height: 0; 
}

.radio{
    display:flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

label[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}
  
input[type="radio"] {
    display: none;
}
  
input[type="radio"]:checked + label {
    background-color: rgb(105, 67, 17);
}
  
input[type="radio"]:hover + label {
    background-color: rgb(216, 129, 15);
}
#set-temp{
    text-align: center;
}

#image_list{
    display: flex;
    position: relative;
    width:100%;
    height:100%;
}
.footer-ul{
    position:relative;
    text-align: center;
    background: black;
    color:white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin: 0;

}

@media only screen and (max-width: 767px) {
    .header-container {
      overflow-x: hidden;
   }
}

.header-container{
    overflow-x: hidden;
}

header{
    flex-wrap: nowrap;
    display: flex;
    width:100%;
    height:100px;
}

header img{
    max-width:100%;
    height:100px;
    object-fit: cover;
    object-position: left;
}

.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    /*Colour scheme of rest of project, make match*/
    background: #333;
    /*Colour scheme of text, change to make match rest of project*/
    color: aliceblue;
    display: flex;
    margin-bottom: 0;
}

.footer div {
    text-align: center;
}
.col2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col1 a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 0px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
     }
    
.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: rgb(1, 187, 1);
    margin: 0 12px;
    cursor: pointer;
    }
     
#current-slide {
    background: #228B22;
    }
    
.is-hidden {
    display: none;
    }

.image-container {
    margin: 0% auto;
     }
#last_name{
    margin-left: 3.6%;
}